<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <!-- root element controlled by Vue() in app.js -->
    <div id="vue-app">
        
        <h1>CONDITIONAL FUN</h1>
        <!-- V-IF OR V-SHOW -->
        <button
            v-on:click="error = !error"
        >
            Toggle Error
        </button>

        <button
            v-on:click="success = !success"

        >
            Toggle Success
        </button>
        <p
            v-show="error"
        >
            ERROR FOUND - RUN
        </p>
        <p
            v-show="success"
        >
            GREAT SUCCESS
        </p>
        <!-- <p
            v-if="error"
        >
        ERROR FOUND - RUN
        </p>
        <p
            v-else-if="success"
        >
            GREAT SUCCESS
        </p> -->

        <br>
        <h1>DYNAMIC CSS</h1>
        <h2>Example 1 CSS</h2>
        <!-- v-bind:class={<className>: <boolean> } -->
        <div 
            v-on:click="available=!available"
            v-bind:class="{available: available}"
        >
            <span>TAXI DRIVER</span>
        </div>

        <h2>Example 2 css</h2>
        <button
            v-on:click="nearby = !nearby"
        >   
            Toggle Nearby
        </button>

        <button
        v-on:click="available = !available"
        >
            Toggle Available
        
        </button>
        <div
            v-bind:class="compClasses"
        >
        <span>BABY DRIVER</span>
        </div>


        <br>







        <h1>COMPUTED PROPERTIES</h1>
        <button
            v-on:click="a++"
        >
            Add to A
        </button>

        <button
            v-on:click="b++"
        >
            Add to B
        </button>

        <p>A - {{ a }}</p>
        <p>B - {{ b }}</p>
        
        <!-- not the best approach bc they both run at the same time -->
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>

        <br>

        <h1>TWO WAY DATA BINDING</h1>
        <label>NAME: </label>
        <input
            type="text"
            v-model="name"
        />
        <span>{{ name }}</span>
        <br>
        
        <label>AGE: </label>
        <input
            type="number"
            v-model="age"      
        />
        <span>{{ age }}</span>


<hr>
        <h1>KEYBOARD EVENTS</h1>
        <label>NAME: </label>
        <input
            type="text"
            v-on:keyup.enter="logName"
        />

        <label>AGE: </label>
        <input
            type="number"
            v-on:keyup.alt.enter="logAge"        
        />
            <hr>
        <h1>EVENT MODIFIERS</h1>
        <p>Modify Me: {{ modifyMe }}</p>
        <button
        v-on:click.once="modifyFn(1)"
        >
            Modify 1
        </button>

        <a 
            href="http://www.thenetninja.co.uk"
            v-on:click.prevent="clickHref"
        >
            Prevent Default!!
        </a>

        <h1>EVENTS</h1>
        <p>My age is: {{ age }}</p>
        <!-- buttons to add and subtract -->
        <button
            v-on:click="addYear(1)"
        >
            Add One
        </button>
        
        <button
        v-on:click="subtractYear(1)"
        >
            Subract One
        </button>

        <button
        v-on:dblclick="addYear(10)"
        >
            Add Ten
        </button>
        
        <button
        v-on:dblclick="subtractYear(10)"
        
        >
            Subrtract Ten
        </button>

        <h1>Track Mouse Movement</h1>
        <div 
            id="canvas"
            v-on:mousemove="updateXY"
        >
            {{ x }},{{ y }}
        </div>

        <h1>{{ greet() }}</h1>
        <p>Name: {{ name }}</p>
        <p>Job : {{ job }} </p>

        <h3>Data Binding</h3>
        <a
            v-bind:href="website"
        >
            GitHub Repo for Data Binding
        </a>
        <p v-html="websiteTag">

        </p>
        <input 
            type="text"
            v-bind:value="name"
        >
    </div>

    <script src="app.js"></script>
</body>
</html>